* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px
    font-family: 'Chivo', sans-serif;
}

body {
    line-height: 1.6;
    font-family: 'Chivo', sans-serif;
}



//VARIABLES

//colors 

$color-white: #fff;



$color-blue-light: #51D5FF;
$color-blue: #01B9F3;
$color-blue-dark: #3D44FC;

$color-grey-light: #C4C4C4;
$color-grey: #606060;
$color-grey-dark: #6D6D6D; 

$color-red: red;

$color-black: #000;

//FONT SIZES

$font-size-small: 1.2rem;
$font-size-smaller: 1.4rem;
$font-size-normal: 1.6rem;
$font-size-larger: 1.8rem;
$font-size-large: 2rem;
$font-size-ultra: 4rem;

//ELEMENTS

.hr {
    width: 100%;
    height: 1px;
    background-color: $color-grey-light;
}


